<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            .container {color: blue; text-align: left; border: 1px solid black; }
        </style>
    </head>
    <body>
        <header></header>
        <main>
            <section>
                <div class=container>
                    <h1>
                        section-1 div-1 message
                    </h1>
                </div>
                <div class=container>
                    <h2>
                        section-1 div-2 message
                    </h2>
                </div>
                <div class=container>
                    <h3>
                        section-1 div-3 message
                    </h3>
                </div>
                <div class=container>
                    <h4>
                        section-1 div-4 message
                    </h4>
                </div>
                <div class=container>
                    <h5>
                        section-1 div-5 message
                    </h5>
                </div>
                <div class=container>
                    <h6>
                        section-1 div-6 message
                    </h6>
                </div>
            </section>
            <section>
                <div class=container>
                    <h1>
                        section-2 div-1 message
                    </h1>
                </div>
                <div class=container>
                    <h2>
                        section-2 div-2 message
                    </h2>
                </div>
                <div class=container>
                    <h3>
                        section-2 div-3 message
                    </h3>
                </div>
                <div class=container>
                    <h4>
                        section-2 div-4 message
                    </h4>
                </div>
                <div class=container>
                    <h5>
                        section-2 div-5 message
                    </h5>
                </div>
                <div class=container>
                    <h6>
                        section-2 div-6 message
                    </h6>
                </div>
            </section>
        </main>
    </body>
</html>
