<!DOCTYPE html>
<html>
    <head>
        <style>
            .bordered { border: 2px solid black; }
        </style>
    </head>
    <body>
        <header></header>
        <main>
            <section>
                <div class="bordered">
                    Section 1, Div 1
                </div>
                <div class="bordered">
                   <h1> Section 1, Div 2</h1>
                </div>
            </section>
            <section>
                <div class="bordered">
                    Section 2, Div 1
                </div>
                <div class="bordered">
                    Section 2, Div 2
                </div>
            </section>
        </main>
        <footer></footer>
    </body>
</html>
